openssl_conf = openssl_init

[openssl_init]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
# SECLEVEL=1 allows SHA-1 signed certs and broader cipher suites
# required for Python 3.14 + OpenSSL 3.0 connecting to MongoDB Atlas
CipherString = DEFAULT@SECLEVEL=1
MinProtocol = TLSv1.2
